
// -----------------------------------------
// breadcrumbs
// https://www.thewebtaylor.com/articles/wordpress-creating-breadcrumbs-without-a-plugin
.uk-breadcrumb {
  font-size: 14px;
  padding-left: 15px;
  margin-bottom: 0;

  & a {
    color: $color-gray;
    transition: 300ms ease-in-out;
    position: relative;

		// -----------------------------------------
		// ## link underline
		&:before {
			content: "";
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 100%;
	    border-bottom: 1px solid $color-black-light !important;
	    transition: right .3s ease-out;
		}

    &:hover,
    &:focus {
      color: $color-black-lightest;
      text-decoration: none;
      &:before {
				right: 0;
			}
    }
  }
}

// .item-current {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   max-width: 200px;
//   @media (min-width:768px) {
//     max-width: none;
//   }
// }
