.maa-metro-tile {

  & h3.elementor-flip-box__layer__title {
    font-size: 24px;
    font-family: $font-headings;
    font-weight: 400;
    color: $color-white;
    padding: 0;
    margin: 0 0 4px !important;
  } // end title

  & .elementor-flip-box__layer__description {
    font-size: 16px;
    font-family: $font-bodyCopy;
    font-weight: 300;
    line-height: 1.1;
    color: #d4d3d3;
    padding: 0;
    margin: 0;
  }

  & .elementor-flip-box__button {
    text-transform: uppercase;
  }

  & .elementor-flip-box {
    cursor: pointer !important;
    @media (max-width:767px) { height: 240px !important; }
  }
} // end metro-tile
