
// -----------------------------------------
// ## hide top navbar on mobile
#navbar {
  @media (max-width: 959px) {
    & .uk-container {
      padding: 0;
    }

    // & .uk-navbar-left {
    //   justify-content: center;
    //   margin: 0 auto;
    // }

    & .uk-navbar-right {
      display: none;
    }
  }

  & .uk-navbar-left {
    padding: 0 15px;
  }

  @media (min-width:1024px) {
    border-bottom: 1px solid $color-uikit-gray-lighter;
    // margin-bottom: 20px;
    // display: block;
    position: relative;
    z-index: 1;
  }
}

// -----------------------------------------
// ## standard navbar
.uk-navbar {
  margin-top: 15px;
  margin-bottom: 15px; // 15px !important;
}

.uk-navbar-nav {
  list-style-type: none;
  height: 44px; 

  & li {
    padding: 0 15px;
    display: flex;
    align-items: center;
    &:hover, &:focus {
      color: $color-primary !important;
    }
  }

  & li > a {
    padding: 0;
    height: auto;
    font-family: $font-headings;
    font-weight: normal;
    letter-spacing: .5px;
  }

  // -----------------------------------------
	// ## link text
	& a {
		padding: 0;
		line-height: 1.5;
		background: none;
		color: $color-bodyColor-light !important;
		position: relative;
		margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;

		// -----------------------------------------
		// ## link underline
		&:before {
			content: "";
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 100%;
	    border-bottom: 1px solid $color-primary !important;
	    transition: right .3s ease-out;
		}

		&:hover, &:focus {
			color: $color-primary !important;

			&:before {
				right: 0;
			}
		}
	} // end text link
} // end uk-navbar-nav

.current-menu-item {
  & a {
    color: #222 !important;
  }
}

.uk-logo {
  position: relative;
  width: 100%;
  color: $color-bodyColor-light !important;

  & img {
    height: 60px;
    width: 77.250px;
    @media (min-width:1024px) { height: 80px; width: 103px; }
  } // end img

  & span {
    font-size: 18px;
    font-family: $font-headings;
    font-weight: normal;
    letter-spacing: normal;
    transition: 300ms ease-in-out;
  }

  &:hover, &:focus {
    opacity: .75;
    & span {
      color: #4a97e5 !important;
    }
  } // end hover
} // end logo

// -----------------------------------------
// ## fixed top mini navbar
.mini-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  height: 0;
  overflow: hidden;
  transform: translateY(-40px);
  transition: 300ms ease-in-out;
  // display: none;
  @media (max-width: 1023px) {
    display: none;
  }

  & .uk-navbar {
    margin-top: 0;
    margin-bottom: 0 !important;
  }

  & .uk-navbar-item,
  & .uk-navbar-nav > li > a,
  & .uk-navbar-toggle {
    height: 22px;
    text-transform: uppercase;
  }

  & .uk-navbar-item.uk-logo {
    padding-left: 10px;
  }

  & .uk-navbar-nav > li:last-child a {
    // padding-right: 10px;
  }
}

// slide in animations
.mini-navbar-visible {
  height: 44px;
  overflow: visible;
  transform: translateY(0);
  box-shadow: $z-depth-1;
}


// -----------------------------------------
// ## MOBILE NAVBAR
.mobile-navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 7;
  border-top: 1px solid $color-uikit-gray-lighter;
  background: $color-white-off;
  box-shadow: $z-depth-3;
  // transform: translateY(-40px);
  transition: 300ms ease-in-out;

  & .fa {
    margin-bottom: 3px;
  }

  & a, & a:link, & a:visited {
    color: $color-black-light;
  }
}
